.jumbotron {
  padding: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #45A29E;
  color: #66FCF1;
  margin-top: 15px;
}

body {
  font-family: arial;
  background-color: #0B0C10;
  color: #C5C6C7
}

#nameAlert {
  visibility: hidden;
}

#nameAlert{
  color: crimson;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#result,
#cplusplus,
#csharp,
#ruby,
#python,
#java,
#objectivec,
#javascript {
  display: none;
}

#resultIntro {
  font-weight: bolder;
}

.icon {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-dark {
  margin-bottom: 20px;
  color: #C5C6C7;
  background-color: #1F2833;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1F2833;
  float: left;
  height: auto;
}

.card-title {
  text-align: center;
}

a:link {
  color: #66FCF1;
}

a:visited {
  color: #45A29E;
}