#nameAlert,
#result {
  visibility: hidden;
}

#nameAlert{
  color: crimson;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#cplusplus,
#csharp,
#ruby,
#python,
#java,
#objectivec,
#javascript {
  display: none;
}